<!DOCTYPE html>
<html>
<head>   <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/we.png">
    <title>    Help    </title>
</head>
<body>
    <div class="main-content">
    {{>header}}
   
    <h1><i>Get help</i></h1>
    <p>{{helpText}}</p>
        </div>
     {{>footer}}
</body>
    
</html>