<!DOCTYPE html>
<html>
<head>
    
    <title> Weather  </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/we.png">
    
    
</head>
<body>
<nav>
        <ul class="topnav-left" >
             <li><a href='/'>Weather</a></li>
             <li><a href='/help'>Contact</a></li>
             <li><a href='/about'> About</a></li>
            <div class="container">   
            
            
            
            
            
            </div>
            
        </ul>
        </nav>


   <div class="h-1"> 
      
    <h1>Weather Forecast</h1>
                            </div>
        
 <div class="form-1" >
    <form>
 <input size=40 placeholder="Enter Location : City , State">
    <button>Search</button>
        </form>
                 </div>  
    
 <p id="error"></p>
    <div class="container">
    
 <div class="container-2">
    <p class="p1"></p>
     <p class="p2"></p>
        
      <div class="img-containner">
     <img src="" class="hideimage" id="img-1">     
    <p id="temperature"></p>
     </div>
     
 <div class="row">
         
     <div class="left-col">
     <p id="precipitation"></p>
         <p id="humidity"></p>
     </div>
     <div class="right-col">
     <p id="pressure"></p>
         <p id="wind"></p>
     </div>
             
               </div>
        
       
    
   </div>   
    
    
   
    
    
    
     </div>
    <script type="text/javascript" src="/script/me.js">   </script>
</body>
    
</html>